table,
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

thead,
tfoot {
    background-color: blanchedalmond;
}

tbody {
    background-color: floralwhite;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}